.movie_card{
    width: 16rem;
    min-height: 18rem;
}

.movie_card_link{
    text-decoration: none;
    color: black;

}

.list_card{
    width: 16rem; 
    min-height: 18rem;
}

.card_title{ 
    height: 2.2rem; 
}

.card_link{ 
    text-decoration: none;
    color:black;
}
.float_right{
    float: "right";
}